<ion-grid>
  <ion-row>
    <ion-col>
      <div #container style="display: block; width: 100%">
        <ngx-charts-line-chart *ngIf="view && view[0] > 0"
          [view]="view"
          [scheme]="'picnic'"
          [legend]="legend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [yAxisLabel]="yAxisLabel"
          [results]="multi"
          [autoScale]="true"
          [curve]="curve"
          [legendPosition]="'right'">
        </ngx-charts-line-chart>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <form [formGroup]="formGroup">
        <ion-segment formControlName="period" (ionChange)="dateRangeChange($event)">
          <ion-segment-button value="week">
            <ion-label>Week</ion-label>
          </ion-segment-button>
          <ion-segment-button value="month">
            <ion-label>Month</ion-label>
          </ion-segment-button>
          <ion-segment-button value="year">
            <ion-label>Year</ion-label>
          </ion-segment-button>
          <ion-segment-button value="all" checked>
            <ion-label>All</ion-label>
          </ion-segment-button>
        </ion-segment>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>