<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
    </ion-card-header>
    <ion-card-content>
      <app-weight-chart [weightEntries]="weightEntries$ | async"></app-weight-chart>
    </ion-card-content>
  </ion-card>

  <app-weight-entry-list [weightEntries]="weightEntries$ | async"></app-weight-entry-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['./entry']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
