<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      My Weight
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-weight-chart [weightEntriesMap]="[weightEntries$ | async]" [users]="[authService.user$ | async]"></app-weight-chart>
  <ion-grid>
    <ion-row>
      <ion-col>
        <app-weight-entry-list [weightEntries]="weightEntries$ | async"></app-weight-entry-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="[0]">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
